<div class="home-section">
  <h1>This is home page</div>
</div>
<div class="text-danger">Text</div>
<% if current_user %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>


